.flex {
  display: flex;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --grey: #d3d3d3;
  --dark-grey: #414246;
  --white: #f9f9f9;
}

body {
  color: var(--grey);
}

.header {
  flex-direction: column;
   width: 90%;
    height: 90%;
    background-image: url(gondor.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  color: var(--orange);
   width: 90%;
    height: 90%;
}

.secondTitle {
  color: var(--orange);
   width: 90%;
    height: 90%;
}

.index {
  flex-direction: column;
  color: var(--dark-grey);
   width: 90%;
    height: 90%;
}

main {
     width: 90%;
    height: 90%;
}

.description {
border-color: #ec5242;
border-radius: 5ch;
 width: 90%;
    height: 90%;
}

.program {
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  background-image: url(programBgImage.png);
   width: 90%;
    height: 90%;
}
.mainProgram {
color: var(--white);
 width: 90%;
    height: 90%;
}

.schedule {
    flex-direction: column;
    list-style-type: none;
    margin-left: -40px;
   width: 90%;
    height: 90%;
}

.scheduleItems {
    background-color: rgba(11, 10, 10, 0.392);
    flex-direction: row;
    margin: 5px; 
    align-content: center;
     width: 90%;
    height: 90%;
}

.scheduleTitle {
    justify-content: flex-start;
    color:var(--orange);
     width: 90%;
    height: 90%;
    margin-top: 30px;
}


.scheduleIndex {
    color: white;
    margin-left: 5px;
     width: 90%;
    height: 90%;
}

.joinButton {
  background-color:var(--orange);
  color: var(--white);
  margin-bottom: 10px;
   width: 90%;
    height: 90%;
}

.featuredSpeakers {
      justify-content: center;
}

.featuredTitle {
    color: var(--dark-grey);
}

/* about section */
.headerAbout {
    flex-direction: column;
    align-items: center;
     width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
}

.indexAbout {
    align-items: center;
    flex-direction: column;
    color: var(--dark-grey);
     width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
}

.email {
    font-weight: bold;
     width: 90%;
    height: 90%;
}

.commonLogo {
    flex-direction: column;
    align-items: center;
    color:var(--dark-grey);
     width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
}

.mellonLogo {
    border:#272a31 10px;
    width: 90%;
    height: 90%;
}

.pastEvents {
    flex-direction: column;
    align-items: center;
    align-content: center;
    color:var(--dark-grey);
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
}

.pastEventsTitle {
width: 90%;
    height: 90%;
    align-items: center;
}

.pastEventsDescription {
    margin: 10px;
    width: 90%;
    height: 90%;
}

.golcuk {
    background-image: url(golcuk.jpeg);
    flex-direction: column;
    align-content: center;
     background-size: contain;
     width: 90%;
     height: 90%;
}

.zonguldak {
    background-image: url(zonguldak.jpeg);
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    background-size: contain;
    width: 90%;
    height: 90%;
}

.imageLayout {
    background-color: rgba(236, 83, 66, 0.58);
}

.eventTitle {
    color: var(--white);

}

.eventDescription {
    color: var(--white);
}

.eventIndex {
    color: var(--white);
   
}

.partner {
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-grey);
    margin-top: 20px;
    width: 100%;
}

.partnerTitle {
    color: var(--white);
}

.partnersList {
   margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.partnerImage {
    width: 60px;
    height: 30px;
    margin: 10px;
    text-align: center;
}

.company {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.companyImage {
    width: 30%;
    height: 30%;
    margin-left: 10px;
}
.companyIndex {
    color: var(--grey);
    margin: 10px;
    font-size: 10px;
}

/* popUp */
.popUp {
    background-color: rgba(236, 83, 66, 1);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.popUpItems {
    flex-direction: column;    
    list-style-type: none;
    margin-top: 50px;
    margin-left: 30px;
}

.popItem {
    color: white;
    margin: 10px;
}

.popUpCencel {
    width: 20px;
    height: 20px;
    color: var(--white);
    margin-right: 30px;
    margin-top: 30px;
}

.navigationBar {
    display: none;
}

.wholeProgram {
    display: none;
}

.companyHome {
    display: none;
}

.partnerHome {display: none;}

/* ------------Desktop Version----------- */

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
   
    .navigationBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navigationLogo {
        margin-left: 50px;
        width: 10%;
        height: 10%;
    }

    .navigationItems {
        flex-direction: row;
     margin-right: 100px;
     list-style-type: none;
}

.navigationItem {
    color: var(--dark-grey);
    margin: 10px;
   }

   .secondTitle {
    width: 50%;
   }

   .index {
    width: 50%;
   }

   .program {
    text-align: center;
   }

   .schedule {
    flex-direction: row;
    margin: 0;
   }

   .scheduleItems {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 225px;
    margin-bottom: 10px;
   }

   .scheduleTitle {
margin-top: 10px;
   }

   .scheduleItemImage {
    margin-top: 5px;
   }

   .scheduleIndex {
    margin-top: -10px;
   }

   .joinButton {
    display: none;
   }
   .wholeProgram {
    color: var(--dark-grey);
    display: flex;
    margin-left: 80px;
   }

   .featuredSpeakers {
align-items: center;
   }

   .featuredTitle {
    
   }

   .partnerHome {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-grey);
    margin-top: 20px;
    width: 100%;
   }

   .partnersList {
align-items: center;
   }

   .partnerImage {
    width: 10%;
    height: 10%;
   }

   .companyHome {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .companyImage {
    width: 20%;
    height: 20%;
    margin-left: 150px;
   }

   .companyIndex {
    color: #414246;
    margin-right: 250px;
    font-size: 15px;
   }
}