.flex {
  display: flex;
}

:root {
  --black: #272a31;
  --green: #07ff0c;
  --grey: #d3d3d3;
  --dark-grey: #414246;
  --white: #f9f9f9;
}

body {
  color:var(--black);
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.backgroundImage {
  background-image: url(lotr.jpg);
}

.aboutBackground {
  background-image: url(lorien.jpg);
  background-size: contain;
}

.companyName {
  color: var(--green);
  border:var(--green);
}

.date {
  font-weight: bold;
}

.hamburger {
  margin: 5%;
}

.hamburgericon{
margin: 30px;
color: #07ff0c;
}

.scheduleItemImage {
  height: 20%;
  margin-top: 20px;
}

.header {
  flex-direction: column;
  width: 100%;
  height: 90%;

  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

h1 {
  color: var(--green);
  width: 90%;
  height: 90%;
  margin-left: 10%;
}

.secondTitle {
  color: var(--green);
  width: 90%;
  height: 90%;
  margin-left: 10%;
}

.index {
  flex-direction: column;
  color: var(--white);
  width: 90%;
  height: 90%;
  margin: 20px 0 50px 10%;

}

main {
  width: 100%;
  height: 90%;
}

.description {
  color: white;
  border-radius: 5ch;
  width: 90%;
  height: 90%;
}

.program {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  margin-left: -8px;
}

.mainProgram {
  color: var(--white);
  width: 90%;
  height: 90%;
  text-align: center;
}

.mainHr {
  width: 7%;
  height: 2px;
  background-color: var(--green);
  margin-bottom: 30px;
  margin-top: 0;
}

.schedule {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 90%;
  height: 90%;
  
}

.scheduleItems {
  
  flex-direction: row;
  margin: 3px;
  width: 90%;
  height: 90%;
 
}

.scheduleItems:hover {
  border: solid;
}

.scheduleTitle {
  justify-content: flex-start;
  color: var(--green);
  width: 90%;
  height: 90%;
  margin-top: 30px;
  margin-left: 25px;
}

.scheduleIndex {
  color: var(--white);
  margin-left: 5px;
  width: 90%;
  height: 90%;
}

.joinButton {
  background-color:rgb(57, 56, 56);
  color: var(--white);
  margin-bottom: 30px;
  width: 30%;
  height: 60px;
  margin-top: 30px;
}

/* about section */
.headerAbout {
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.indexAbout {
  align-items: center;
  flex-direction: column;
  color: var(--white);
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.email {
  font-weight: bold;
  width: 90%;
  height: 90%;
}

.commonLogo {
  flex-direction: column;
  align-items: center; 
width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.mellonLogo {
  border: var(--black) 10px;
  width: 90%;
  height: 90%;
}

.logoDescription {
  color: white;
}

.logoTitle {
  color: rgb(231, 219, 242);
}

.pastEvents {
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: var(--black);
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.pastEventsTitle {
  width: 90%;
  height: 90%;
  align-items: center;
  color: rgb(214, 182, 130);
}

.pastEventsDescription {
  margin: 10px;
  width: 90%;
  height: 90%;
  color: white;
}

.eventImage {
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.golcuk {
  background-image: url(golcuk.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 90%;
}

.zonguldak {
  background-image: url(zonguldak.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 90%;
  margin: 5% 0;
}

.imageLayout {
  background-color: rgb(130 33 21 / 58%);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.eventTitle {
  color: var(--white);
}

.eventDescription {
  color: var(--white);
}

.eventIndex {
  color: var(--white);
  margin-top: 10%;
}

.partner {
  flex-direction: column;
  text-align: center;
  background-color: var(--black);
  margin-top: 20px;
  width: 100%;
  margin-left: -8px;
  display: flex;
}

.partnerAbout {
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  width: 102%;
  margin-left: -8px;
  display: flex;
}

.hrPartner {
  height: 2px;
  width: 5%;
  margin-top: -10px;
  background-color: var(--green);
}

.partnerTitle {
  color: var(--white);
  font-size: medium;
}

.partnersList {
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.partnerImage {
  width: 100px;
  height: 80px;
  margin: 10px 50px 10px 50px;
  text-align: center;
}

.company {
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.companyAbout {
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.companyImage {
  width: 10%;
  height: 10%;
  margin-left: 15%;
}

.companyIndex {
  color: var(--white);
  margin: 10px;
  font-size: 10px;
  margin-right: 150px;
  width: 24%;
}

/* popUp */
.popUp {
  background-color: rgb(57, 56, 56);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  height: 102vh;
  position: fixed;
  width: 100%;
  margin: -40px 0 0 -8px;
}

.popUpItems {
  flex-direction: column;
  list-style-type: none;
  margin-top: 10%;
  margin-left: 5%;
}

.popUpItems a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin: 20%;
}

.popItem {
  color: white;
  margin: 10px;
}

.popUpCancel {
  color: var(--white);
  margin-right: 20%;
  margin-top: 5%;
  font-size: 28px;
}

.navigationBar {
  display: none;
}

.wholeProgram {
  display: none;
}

.companyHome {
  display: none;
}

.partnerHome {
  display: none;
}

/* speakers */

.featuredSpeakers {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.featuredTitle {
  color: var(--grey);
  width: 40%;
  text-align: center;
}

.hrFeaturedTitle {
  width: 16%;
  height: 2px;
  background-color: var(--green);
}

.speakerArea {
  flex-direction: column;
  flex-wrap: wrap;
}

.hrSpeaker {
  width: 40px;
  height: 2px;
  background-color: var(--dark-grey);
}

.eachSpeaker {
  flex-direction: row;
  text-align: center;
  margin: 10px;
}

.speakerInfo {
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.speakerName {
  font-size: larger;
  color: #000000;
}

.speakerTitle {
  font-size: large;
  color: var(--green);
}

.speakerTopic {
  font-size: medium;
  color: var(--white);
}

.speakersImages {
  width: 150px;
  height: 150px;
}

.topNavigationBar {
  display: none;
}

/* ------------Desktop Version----------- */
@media screen and (min-width: 768px) {
  .topNavigationBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .topNavigationItems {
    margin-right: 20%;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: wheat;
  }

  .topNavigationImage {
    margin: 5px;
    padding: 5px;
  }

  .topNavigationItem {
    margin: 5px;
  }

  .hamburger {
    display: none;
    margin: 20px;
  }

  .eachSpeaker {
    flex-direction: row;
    text-align: center;
  }

  .navigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
  }

  .zonguldak {
    margin: 5% 5%;
  }

  .navigationLogo {
    margin-left: 50px;
    width: 10%;
    height: 10%;
  }

  .navigationItems {
    flex-direction: row;
    margin-right: 100px;
    list-style-type: none;
  }

  .navigationItem {
    color: var(--white);
    margin: 5px 0 5px 10px;
    padding: 10px;
  }

  .navigationItems a {
    text-decoration: none;
  }

  .secondTitle {
    width: 50%;
  }

  .schedule {
    flex-direction: row;
    margin: 0;
    margin-right: 7%;
  }

  .scheduleItems {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 225px;
    margin-bottom: 10px;
  }

  .scheduleItems:hover {
    border: solid;
  }

  .scheduleTitle {
    margin-top: 10px;
  }

  .scheduleItemImage {
    margin-top: 20px;
  }

  .scheduleIndex {
    margin-top: -70px;
  }

  .joinButton {
    display: none;
  }

  .wholeProgram {
    color: var(--white);
    display: flex;
  }

  .featuredSpeakers {
    align-items: center;
    width: 100%; 
  }

  .featuredTitle {
    font-size: larger;
    margin-bottom: 60px;
  }

  .featuredSpeaker {
    font-size: smaller;
    width: 50%;
  }

  .speakerArea {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .partnerHome {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    margin-left: -10px;
  }

  .partnerTitle {
    color: var(--grey);
  }

  .partnerAbout {
    display: none;
  }

  .hrPartner {
    height: 2px;
    width: 3%;
    margin-top: 0;
    background-color: var(--green);
  }

  .partnersList {
    align-items: center;
    justify-content: space-evenly;
    width: auto;
  }

  .partnerImage {
    width: 10%;
    height: 21%;
    margin: 10px;
  }

  .companyHome {
    display: flex;
    margin: 20px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .companyIndex {
    color: var(--white);
    margin-right: 35%;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 40px;
  }

  .companyIndexHome {
    color: var(--white);
    margin-right: 35%;
    font-size: 15px;
    margin-left: 30px;
  }

  .companyName {
    color:var(--black);
    border:var(--green) solid;
    border-color: var(--green);
  }

  /* about page */
  .indexAbout {
    width: 80%;
  }

  .eventTitle {
    font-size: 40px;
  }

  .eventDescription {
    font-size: 30px;
  }

  .eventImage {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 7%;
  }

  .golcuk {
    margin-left: 10%;
  }

  .imageLayout {
    width: 100%;
    height: 100%;
  }

  .partner {
    display: none;
  }

  .company {
    background-color:var(--black);
    margin-top: 80px;
    height: 200px;
    margin-left: -20px;
    width: 100%;
  }

  .companyAbout {
    margin-top: 80px;
    height: 200px;
    margin-left: -20px;
    width: 100%;
  }

  .companyImage {
    width: 10%;
    height: 100px;
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .index {
    margin-left: 10%;
    width: 50%;
  }

  .program {
    text-align: center;
  }
}
