.flex {
  display: flex;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --grey: #d3d3d3;
  --dark-grey: #414246;
  --white: #f9f9f9;
}

body {
  color: var(--grey);
}

.header {
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-image: url(gondor.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: var(--orange);
  width: 90%;
  height: 90%;
}

.secondTitle {
  color: var(--orange);
  width: 90%;
  height: 90%;
}

.index {
  flex-direction: column;
  color: var(--dark-grey);
  width: 90%;
  height: 90%;
}

main {
  width: 90%;
  height: 90%;
}

.description {
  border-color: #ec5242;
  border-radius: 5ch;
  width: 90%;
  height: 90%;
}

.program {
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  background-image: url(programBgImage.png);
  width: 90%;
  height: 90%;
}

.mainProgram {
  color: var(--white);
  width: 90%;
  height: 90%;
  text-align: center;
}

.mainHr {
  width: 20%;
  color: var(--orange);
}

.schedule {
  flex-direction: column;
  list-style-type: none;
  margin-left: -40px;
  width: 90%;
  height: 90%;
}

.scheduleItems {
  background-color: rgba(11, 10, 10, 0.392);
  flex-direction: row;
  margin: 5px;
  align-content: center;
  width: 90%;
  height: 90%;
}

.scheduleTitle {
  justify-content: flex-start;
  color: var(--orange);
  width: 90%;
  height: 90%;
  margin-top: 30px;
}

.scheduleIndex {
  color: white;
  margin-left: 5px;
  width: 90%;
  height: 90%;
}

.joinButton {
  background-color: var(--orange);
  color: var(--white);
  margin-bottom: 10px;
  width: 90%;
  height: 90%;
}

/* about section */
.headerAbout {
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.indexAbout {
  align-items: center;
  flex-direction: column;
  color: var(--dark-grey);
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.email {
  font-weight: bold;
  width: 90%;
  height: 90%;
}

.commonLogo {
  flex-direction: column;
  align-items: center;
  color: var(--dark-grey);
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.mellonLogo {
  border: #272a31 10px;
  width: 90%;
  height: 90%;
}

.pastEvents {
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: var(--dark-grey);
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
}

.pastEventsTitle {
  width: 90%;
  height: 90%;
  align-items: center;
}

.pastEventsDescription {
  margin: 10px;
  width: 90%;
  height: 90%;
}

.eventImage {
  flex-direction: column;
  width: 120%;
height: 300px;
margin-left: 20%
}

.golcuk {
  background-image: url(golcuk.webp);
  flex-direction: column;
  align-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90%;
  height: 90%;
 
  /* background-size: 300px 100px; */
}

.zonguldak {
  background-image: url(zonguldak.jpeg);
  flex-direction: column;
  align-content: center;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90%;
  height: 90%;
}

.imageLayout {
  background-color: rgba(175, 25, 8, 0.58);
  width: 100%;
  height: 100%;
}

.eventTitle {
  color: var(--white);
}

.eventDescription {
  color: var(--white);
}

.eventIndex {
  color: var(--white);
  margin-top: 10%;
}

.partner {
  flex-direction: column;
  text-align: center;
  background-color: var(--dark-grey);
  margin-top: 20px;
  width: 115%;
  display: flex;
  margin-left: -15px;
}
.hrPartner {
  color: var(--orange);
  width: 5%;
  margin-top: -10px;
}

.partnerTitle {
  color: var(--white);
  font-size: medium;
}

.partnersList {
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.partnerImage {
  width: 60px;
  height: 30px;
  margin: 10px;
  text-align: center;
}

.company {
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.companyImage {
  width: 10%;
  height: 10%;
  margin-left: 50px;
}

.companyIndex {
  color: var(--dark-grey);
  margin: 10px;
  font-size: 10px;
  margin-right: 150px;
  width: 20%;
}

/* popUp */
.popUp {
  background-color: rgba(236, 83, 66, 1);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-between;
  display: none;
}

.popUpItems {
  flex-direction: column;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 30px;
}

.popItem {
  color: white;
  margin: 10px;
}

.popUpCancel {
  width: 20px;
  height: 20px;
  color: var(--white);
  margin-right: 30px;
  margin-top: 30px;
}

.navigationBar {
  display: none;
}

.wholeProgram {
  display: none;
}

.companyHome {
  display: none;
}

.partnerHome {
  display: none;
}

/* speakers */

.featuredSpeakers {
  flex-direction: column;
  align-items: center;
}

.featuredTitle {
  color: var(--dark-grey);
  width: 40%;
}

.hrFeaturedTitle {
  width: 40%;
  color: var(--orange);
}

.speakerArea {
  flex-direction: column;
  flex-wrap: wrap;
}

.hrSpeaker {
  width: 40px;
  color: var(--orange);
}

.eachSpeaker {
  flex-direction: row;
  text-align: center;
  margin: 10px;
}

.speakerInfo {
  flex-direction: column;
  text-align: center;
  width: 40%;
}

.speakerName {
  font-size: larger;
  color: var(--dark-grey);
}

.speakerTitle {
  font-size: large;
  color: var(--orange);
}

.speakerTopic {
  font-size: medium;
  color: var(--dark-grey);
}

.speakersImages {
  width: 150px;
  height: 200px;
}

/* ------------Desktop Version----------- */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .eachSpeaker {
    flex-direction: row;
    text-align: center;
    margin: 10px;
    width: 60%;
    border: solid;
  }

  .navigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navigationLogo {
    margin-left: 50px;
    width: 10%;
    height: 10%;
  }

  .navigationItems {
    flex-direction: row;
    margin-right: 100px;
    list-style-type: none;
  }

  .navigationItem {
    color: var(--dark-grey);
    margin: 10px;
  }

  .secondTitle {
    width: 50%;
  }

  .schedule {
    flex-direction: row;
    margin: 0;
  }

  .scheduleItems {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 225px;
    margin-bottom: 10px;
  }

  .scheduleTitle {
    margin-top: 10px;
  }

  .scheduleItemImage {
    margin-top: 5px;
  }

  .scheduleIndex {
    margin-top: -10px;
  }

  .joinButton {
    display: none;
  }

  .wholeProgram {
    color: var(--dark-grey);
    display: flex;
    margin-left: 80px;
  }

  .featuredSpeakers {
    align-items: center;
    margin-left: 10%;
  }

  .featuredTitle {
    font-size: smaller;
  }

  .speakerArea {
    flex-direction: row;
  }

  .partnerHome {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-grey);
    margin-top: 20px;
    width: 115%;
    margin-left: -10px;
  }

  .partnerTitle {
color:var(--grey)
  }

  .hrPartner {
    color:#ec5242;
    width: 5%;
    margin-top: -10px;
  }

  .partnersList {
    align-items: center;
    justify-content: space-evenly;
  }

  .partnerImage {
    width: 10%;
    height: 10%;
  }

  .companyHome {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .companyIndex {
    color: var(--grey);
    margin-right: 250px;
    font-size: 15px;
    margin-left: 30px;
  }

  /* about page */
  .indexAbout {
    width: 80%;
  }

  .eventTitle {
    font-size: 40px;
  }

  .eventDescription{
    font-size: 30px;
  }

  .eventImage {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 7%;
  }

  .golcuk {
    margin-right: 10px;
    margin-top: 10px;
  }

  .imageLayout {
    width: 100%;
    height: 100%;
  }

  .partner {
    display: none;
  }

  .company {
    background-color: #272a31;
    margin-top: 80px;
    height: 200px;
    margin-left: -20px;
width: 115%;
  }

  .companyImage {
    width: 15%;
    height: 150px;
    margin-left: 200px;
  }

  .header {
    margin-left: 10%;
  }

  .index {
    margin-left: 10%;
    width: 50%;
  }

  .program {
    margin-left: 10%;
    text-align: center;
  }
}
